@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Edu+SA+Beginner:wght@400;600&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Indie+Flower&family=Maven+Pro:wght@400;500;600;700;800;900&family=Montserrat:wght@100;200;300&family=Poppins:wght@100;200;300;400;600;700;800;900&family=Russo+One&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(60, 60, 60);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-family: "Inconsolata";
}
.heading {
  color: aqua;
  text-shadow: 2px 2px 20px aqua;
  letter-spacing: 2px;
}
.container {
  background-color: white;
  min-width: 60vw;
  max-width: 80vw;
  height: 70vh;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.454);
}
.greet {
  font-size: 25px;
}
.greet input {
  border: none;
  outline: none;
  font-size: 22px;
  font-weight: 400;
}

form {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.double {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  align-items: center;
}
.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0 30px;
}

.form-check-field {
  display: flex;
  gap: 10px;
}
input {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid gray;
}
button {
  background-color: red;
  padding: 10px 40px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.427);
  transition: all 0.5s;
  scale: 0.96;
}
#list {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 30px;
  overflow: auto;
  padding: 10px;
  height: 100%;

}
.expense {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.expense .name {
}
.expense .price {
    color: red;
}
.expense .btns {

}
.expense .btns img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
/* ödenmiş olana verilecek stiller*/
.paid{
    opacity: 0.7;

}
.paid .name{
    text-decoration: line-through;
}
.paid .price{
    color: green;
}
/*Toplam alanı*/
.sum{
    background-color: rgb(0, 0, 78);
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    text-align: center;


}
#sum-info{
    color: yellow;
}
select{
  width: 30%;
  margin: 0 auto;
  padding: 5px;

}


